data/config/db.php
data/scws/dict.utf8.xdb
data/runtime/
data/backup/
thinkphp/
public/static/dist_js/
public/static/upload
ftpsync.settings
desktop.ini
html_page/css/
html_page/images/
html_page/psd/
html_page/*.html/
html_page/*.js
*dist*/
data/config/config.php
data/config/debug.php
public/fenci.php
data/config/combile_css_dirs.php