data/config/db.php
data/scws/dict.utf8.xdb
data/runtime/
data/backup/
thinkphp/
public/static/dist_js/
public/data/

ftpsync.settings
desktop.ini

*dist*/
data/config/config.php
data/config/debug.php
public/fenci.php
data/config/combile_css_dirs.php