.img_4column{
  width: 100%;
}

.img_4column li{
  box-sizing:border-box;
  width: 25%;
  float: left;
  height: 150px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.img_4column li:hover{
  opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80)\9;
}
.img_4column li:last-child{
  padding-right: 0;
}
.img_4column li img{
  width: 100%;
  height: 100%;
}

.logowall{
  width: 100%;
  background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.15);
  box-shadow: 0 2px 2px rgba(0,0,0,.15)
}
.logowall .logo {
    float: left;
    *display: inline;
    width: 90px;
    height: 45px;
    padding: 7px 9px
}

.logowall .logo img{
  width: 100%;
  height: 100%;
}