.img_4column{
  width: 100%;
}

.img_4column li{
  box-sizing:border-box;
  width: 25%;
  float: left;
  height: 150px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.img_4column li:hover{
  opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80)\9;
}
.img_4column li:last-child{
  padding-right: 0;
}
.img_4column li img{
  width: 100%;
  height: 100%;
}

.logowall{
  width: 100%;
  background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.15);
  box-shadow: 0 2px 2px rgba(0,0,0,.15)
}
.logowall .logo {
    float: left;
    *display: inline;
    width: 90px;
    height: 45px;
    padding: 7px 9px
}
.w1005 .logowall .logo{
  width: 82px;
}
.logowall .logo img{
  width: 100%;
  height: 100%;
}


.box-play { }
.box-play #img-list { position:relative; width:100%; height:300px; display:none; }
.box-play .img-list li { display:none; position:absolute; left:0; top:0; width:100%; height:300px; }
.box-play .img-list li.cur { display:block; }
.box-play .img-list li a { display:block; height:300px; margin:0 auto; cursor:pointer; background: url("about:blank") repeat scroll 0 0 transparent; }
.box-play .img-list li a:focus { outline:0; }
.box-play i { display: none; position:absolute; cursor: pointer;}
.box-play i.ban-close { width: 30px; height: 30px; top:10px; right:0; background: url(../images/good/ban-esc.png) no-repeat; }
.box-play i.ban-close:hover { background: url(../images/good/ban-esc.png) no-repeat 0 -30px; }
.box-play i.ban-open { width:25px; height:18px; right:-25px; top:3px; background: url(../images/good/open.gif) no-repeat; }
.box-play .count-num { position:absolute; bottom:15px; left:50%; }      
.box-play .count-num li { float:left; _display:inline; margin-left:10px; cursor:default; background: url(../images/good/switch2.gif) no-repeat -16px 0;width: 15px; height: 15px; border-radius: 10px; background: #fff; opacity: .8; _filter: Alpha(opacity = 80); overflow:hidden; }
.box-play .count-num li.cur { background: #f60; opacity: 1; _filter: Alpha(opacity = 100); }




/*this is top_bar*/
.big_banner{
  position: relative;
  height: 360px;
  overflow: hidden;
}
.top_bar{background-color: #f7f7f7;height:100%;overflow: hidden;width: 100%;}
.top_bar .banner{ position:relative;height:100%;width: 100%;z-index: 0;overflow: hidden;}
.top_bar .banner li{padding-left:0px;display:block !important;width: 100%;height: 100%;position:absolute;top:0;left;0;z-index:0;opacity:0;filter:alpha(opacity=0);}
.top_bar .banner .pic{height:100%;display:block;width:1200px;margin:0 auto;}
.w1005 .top_bar .banner .pic {
  width: 1100px;
  position: relative;
  left: 60px;
}
/*this is top_wrap*/
.top_wrap{ margin-left: auto;
    margin-right: auto; _height:1px;_overflow:hidden;}
.top_wrap .top_box {
    position: relative;
    width: 100%;
  height:0;
}
.banner_arrow {
    display: none;
}
.banner_arrow .arrow_prev,.banner_arrow .arrow_next {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: block;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    position: absolute;
    top:-220px;
    width: 29px;
    z-index: 12;
}
.banner_arrow .arrow_prev{left:250px;}
.banner_arrow .arrow_next{right:250px;}
.banner_arrow .arrow_prev:hover,.banner_arrow .arrow_next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.banner_arrow .arrow_prev i,.banner_arrow .arrow_next i {
    background:url(../images/global/arrow.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 21px;
    margin: 12px 0 0 9px;
    overflow: hidden;
    width: 13px;
}
.banner_arrow .arrow_prev i{background-position:top left;}
.banner_arrow .arrow_next i{background-position:top right;}

.top_wrap .round {
    position: absolute;
    margin-right:-210px;
    top:-25px;
    width:200px;
   right:50%;
   margin-right: -100px;
}
.top_wrap .round .adType {
    text-align:center;
}
.top_wrap .round .adType a {
    background:#e2e2e2;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-right:7px;
    width: 10px;
  overflow:hidden;
}
.top_wrap .round .adType a.current {
    background:#ff2d5e;
}
.mall_banner{
  width: 100%;
  overflow: hidden;
}
.mall_banner .top-tms-container{
  position: relative;
  left: 50%;
  float: left;
}

.mall_banner .top-tms-container .img-wrap{
  left: -50%;
  position: relative;
  float: left;
}
.l-floor .l-f-title {
    background: url(../images/mall_title_bg.png) repeat-x #ED161D;
    width: 1190px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #FFF;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    font-family:"Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}

.l-floor .l-f-title:first-child {
  margin-top: 0;
}
.l-floor li.brand-mid-v2 {
    margin: 10px 10px 0 0;
    width: 590px;
    float: left;
}
.l-floor li.brand-mid-v2 img{
    width: 100%;
}
.l-floor li.brand-mid-v2 img:hover{
    border-color: #f61d4b;
    outline: #f61d4b solid 2px
}
.w1005 .l-floor .l-f-title{
  width: 1090px;
}

.w1005 li.brand-mid-v2{
  width: 540px;
}
.l-floor li.l-f-shop{
  margin: 10px 10px 0 0;
  width: 290px;
  height: 290px;
  float: left;
  overflow: hidden;
}
.l-floor li.l-f-shop img{
  min-width: 100%;
  min-height: 100%;
}
.l-floor li.l-f-shop img:hover{
    border-color: #f61d4b;
    outline: #f61d4b solid 2px
}
.w1005 .l-floor li.l-f-shop{
  width: 265px;
}