@charset "utf-8";
/* CSS Document */
.content1 { width: 1200px; background-color: #fff;}
.content1 .map-web { padding: 20px 50px; line-height: 20px; }
.content1 .map-web a { margin: 4px; }
.content1 .map-web h2 { font-size: 18px; border-bottom: 1px dotted #ddd; line-height: 38px; margin-bottom: 10px; font-weight: normal; text-align: left; }
.content1 .map-web div h3 { float: left; font-size: 14px; font-weight: bold; width: 60px; line-height: 16px; }
.content1 .map-web div h3 a { margin: 0px; }
.content1 .map-web div a:hover { color: #5e5e5e; text-decoration: underline; }
.content1 .map-web div .tags-all { clear: both; }
.content1 .map-web .clearfix { width: 950px; height: auto; overflow: hidden; }
.content1 .map-web .tags-next { margin-top: 20px; }
.content1 .map-web div .tags-all li { float: left; white-space: nowrap; width: auto; }
.content1 .map-web div .tags-all li a { background: #fff; border: 1px solid #ccc; border-radius: 3px 3px 3px 3px; color: #666666; display: block; float: left; height: 20px; line-height: 20px; padding: 0 3px; }
.content1 .map-web div .tags-all li a:hover { border: 1px solid #999; }
.clear { zoom: 1; clear: both; text-align: left; }
