.btn,.icon{
  display: inline-block;
  *display: inline;
  *zoom:1;
  border: none;
}
.icon{
  vertical-align: middle;
}

.itemnew-icon{
  .icon(48px,44px,-62px,0);
}
.heart1-icon{
  .icon(16px,14px,-3px,-34px);
}
.heart2-icon{
  .icon(30px,14px,-3px,-34px);
}
.heart3-icon{
  .icon(46px,14px,-3px,-34px);
}

.chao-title{
  height: 50px;
  background:url("../images/chao_title_bg.png") 0 0 repeat-x;
  border: 1px solid #c4c4c4;
  .chao-title-text{
    .vm(50px);
    font-size: 30px;
    color: #d00909;
    background-color: #fff;
    width: 160px;
    margin: 0 auto;
    text-align: center;
  }
}