.btn,.icon{
  display: inline-block;
  *display: inline;
  *zoom:1;
  border: none;
}
.icon{
  vertical-align: middle;
}
.itemnew-icon{
  .icon(48px,44px,-62px,0);
}
.heart1-icon{
  .icon(16px,14px,-3px,-34px);
}
.heart2-icon{
  .icon(33px,14px,-3px,-34px);
}
.heart3-icon{
  .icon(50px,14px,-3px,-34px);
}
.rate-icon{
  .icon(8px,14px,-384px,-16px);
}
.chao-title{
  height: 50px;
  background:url("../images/chao_title_bg.png") 0 0 repeat-x;
  border: 1px solid #c4c4c4;
  .chao-title-text{
    .vm(50px);
    font-size: 30px;
    color: #d00909;
    background-color: #fff;
    width: 160px;
    margin: 0 auto;
    text-align: center;
  }
}

.icon_zhibi{
  width: 38px;
  height: 16px;
  background:url(../images/zhibi.jpg) 0 0 no-repeat;
}

.mod_mid{
  .mod_mid_wrap{
    position: relative;
    float: left;
    left: 50%;
    .mod_mid_item{
      position: relative;
      left: -50%;
      float: left;
    }
  }
}

.icon-taobao{
  .icon(18px,18px,0,-53px);
}
.icon-tmall{
  .icon(18px,18px,-18px,-53px);
}

textarea,input[type="text"],input[type="password"]{ background:url(../images/global/input_bg_sd.png) no-repeat #FFF; font-family:'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;}
:-moz-placeholder, ::-webkit-input-placeholder { color:#999999; }



.taobaorank {
  text-indent:  -999em; 
  width: 0px; display: inline-block; 
  background: url("/assets/images/taobao_level.gif") repeat-x -999px -999px; 
  height: 16px; 
  vertical-align:  text-top; 
  overflow: hidden
}
.rank-r0 {
  width: 0px
}
.rank-r1 {
  width: 17px; background-position: 0px 0px
}
.rank-r2 {
  width: 34px; background-position: 0px 0px
}
.rank-r3 {
  width: 51px; background-position: 0px 0px
}
.rank-r4 {
  width: 68px; background-position: 0px 0px
}
.rank-r5 {
  width: 85px; background-position: 0px 0px
}
.rank-r6 {
  width: 17px; background-position: 0px -32px
}
.rank-r7 {
  width: 34px; background-position: 0px -32px
}
.rank-r8 {
  width: 51px; background-position: 0px -32px
}
.rank-r9 {
  width: 68px; background-position: 0px -32px
}
.rank-r10 {
  width: 85px; background-position: 0px -32px
}
.rank-r11 {
  width: 17px; background-position: 0px -64px
}
.rank-r12 {
  width: 34px; background-position: 0px -64px
}
.rank-r13 {
  width: 51px; background-position: 0px -64px
}
.rank-r14 {
  width: 68px; background-position: 0px -64px
}
.rank-r15 {
  width: 85px; background-position: 0px -64px
}
.rank-r16 {
  width: 17px; background-position: 0px -80px
}
.rank-r17 {
  width: 34px; background-position: 0px -80px
}
.rank-r18 {
  width: 51px; background-position: 0px -80px
}
.rank-r19 {
  width: 68px; background-position: 0px -80px
}
.rank-r20 {
  width: 85px; background-position: 0px -80px
}


.time-info{
  font-size: 16px;
  height: 30px;
  .y,.m,.d,.h,.mm,.ss{
    font-size: 20px;
    color:#E43A3A;
  }
  .d{
    font-size: 24px;
  }
  .h{
    font-size: 22px;
  }
  .ss{
    font-size: 18px;
  }
  .label{
    display: inline-block;
    height: 24px;
    margin-top: 6px;
    line-height: 24px;
    color: #fff;
    padding: 0 10px;
    font-family: "黑体";
  }
  .tip{
    font-size: 12px;
    margin-top: 12px;
    color: #aaa;
  }
  .end{
    background-color: #aaa;
  }
  .start{
    background-color:#32836C;
  }
}
.highlight{
  color:@color_red!important;
}