@import "./lib/funclib.less";
@import "./common/var.less";

.qingbao_box{
  width: 270px;
  padding: 10px;
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  .title{
    text-align: right;
    color: #777;
  }
  .avatar{
    float: left;
    .imgwraper(48px,48px);
  }
  .username{
    height: 24px;
    line-height: 1.1em;
  }
  .info{
    width: 168px;
  }
  .score{
    color: #aaa;
    em{
      color:@color_red;
    }
  }
  .q_item{
    float: right;
    padding: 2px;
    border: 1px solid #e0e0e0;
    .imgwraper(80px,80px);
  }
  .text{
    color: #aaa;
    margin-bottom: 10px;
  }
  .item_ex{
    color: #777;
  }
  #closest_duihuan .text{
    width: 133px;
  }
}
.ad_qb{
  height: 80px;
  width: 270px;
  margin-top: 20px;
}
.baokuan{
  margin-top: 25px;
  .bk-top{
      border-bottom: 1px solid #e0e0e0;
      h2{
        font-size: 30px;
        color: #323232;
        float: left;
        border-bottom: 1px solid #c80000;
      }
      .bk-label{
        width: 122px;
        height: 30px;
        background:url(../images/baokuan_label.png) 0 0 no-repeat;
        float: left;
        margin-top: 10px;
        margin-left: 5px;
      }
      .bk-nav{
        float: right;
        margin-top: 15px;
        a{
          color: #d00909;
          font-size: 16px;
          margin-left: 20px;
        }
      }
  }

  .bk-list{
    margin-top: 10px;
    li{
      float: left;
      width: 215px;
      height: 340px;
      overflow: hidden;
      margin-right: 6px;
      margin-bottom: 20px;
    }
  }
}

@import "./inc/baokuan-item.less";
@import "./inc/shopping-index.less";
@import "./inc/brand.less";

@import "./mixin/my-like.less";
@import "./mixin/show-item.less";
@import "./mixin/shop-item.less";
.wide_shoplist,.itemlist,.scoreitem-list{
  margin-top: 20px;
  li{
    width: 266px;
    float: left;
    margin-right: 12px;
    margin-bottom: 30px;
  }
}
.wide_shoplist{
  li{
    width: 173px;
    height: 285px;
  }
  .shop-item(173px);  
  .shop{
    .shop-go{
      width: 160px;
    }
    .shop-reason{
      .lines(24px,1);
    }
  }
}

@import "./mixin/score-item.less";
.scoreitem-list{
  li{
    width: 210px;
    height: 340px;
  }
  .show-item(210px);
  .score-item(210px);
  .score-item {
    .time-info{
      margin-top: 5px;
    }
    .show-name{
      font-size: 12px;
    }
    .tip{
      margin-top: 5px;
    }
    .label{
      .vm(18px);
      font-size: 12px;
      margin-top: 2px;
    }
    .item-info{
      .item-score{
        font-size: 16px;
        margin-top: 0;
        width: auto;
        text-indent: 5px;
        em{
          font-size: 18px;
        }
      }
      .btn-exchange{
        position: relative;
        left: -59px;
      }
    }
  }
  .time-info{
    font-size: 12px;
    .d{
      font-size: 18px;
    }
    .h{
      font-size: 16px;
    }
    .ss,.mm{
      font-size: 14px;
    }
  }
  .show-normal{
    &:hover{
      outline-color: @color_red;
    }
  }
}


.cate_itemlist{
  margin-top: 20px;
  @width : 260px;
  li{
    position: relative;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
    width: @width;
    height:@width;
    .imgwraper(@width,@width);
    .name{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background:url("../images/bar_bg.png") 0 bottom repeat-x;
      color: #bbb;
      text-align: center;
      font-size: 12px;
      padding-top: 14px;
    }
    a:hover{
      text-decoration: none;
    }
  }
}