@import "./lib/funclib.less";
@import "./common/var.less";

.baokuan{
  margin-top: 25px;
  .bk-top{
      border-bottom: 1px solid #e0e0e0;
      h2{
        font-size: 30px;
        color: #323232;
        float: left;
        border-bottom: 1px solid #c80000;
      }
      .bk-label{
        width: 122px;
        height: 30px;
        background:url(../images/baokuan_label.png) 0 0 no-repeat;
        float: left;
        margin-top: 10px;
        margin-left: 5px;
      }
      .bk-nav{
        float: right;
        margin-top: 15px;
        a{
          color: #d00909;
          font-size: 16px;
          margin-left: 20px;
        }
      }
  }

  .bk-list{
    margin-top: 10px;
    li{
      float: left;
      width: 215px;
      height: 410px;
      overflow: hidden;
      margin-right: 6px;
      margin-bottom: 20px;
    }
  }
}

@import "./inc/baokuan-item.less";
@import "./inc/shopping-index.less";
